
<h1>Name of Game:</h1>
<h3><%= @collection.name%></h3>

<h1>Genre:</h1>
<h3><%= @collection.genre%></h3>

<h1>Console:</h1>
<h3><%= @collection.console%></h3>
 <% if authorized_to_edit?(@collection)%>

  <a href="/collections/<%=@collection.id%>/edit">Edit a Post</a>
  <a href="collections/<%=@collection.id%>/delete"> Delete a Post</a>
<% end %>